<div class="min-h-screen bg-white py-8">
    <!-- Header -->
    <div class="px-4 sm:px-8 mb-6">
        <h1 class="text-3xl font-bold text-gray-900 mb-2">Cartelera</h1>
        <p class="text-gray-600">Las películas más populares en cines</p>
    </div>

    <div class="px-4 sm:px-8">
        <div class="flex gap-4 overflow-x-auto scrollbar-hide pb-4 scroll-smooth snap-x snap-mandatory">
            @for (peli of Cartelera; track peli.id) {
                <app-movie-card [movie]="peli"></app-movie-card>
            }
            
            @empty {
                <div class="w-full text-center py-12">
                    <div class="inline-block animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-600 mb-4"></div>
                    <p class="text-gray-600 text-lg">Cargando películas...</p>
                </div>
            }
        </div>
    </div>

    <div class="px-4 sm:px-8 mb-6">
        <h1 class="text-3xl font-bold text-gray-900 mb-2">Estrenos</h1>
        <p class="text-gray-600">Las películas que se estrenarán próximamente</p>
    </div>

    <!-- Scroll horizontal -->
    <div class="px-4 sm:px-8">
        <div class="flex gap-4 overflow-x-auto scrollbar-hide pb-4 scroll-smooth snap-x snap-mandatory">
            @for (peli of upComing; track peli.id) {
                <app-movie-card [movie]="peli"></app-movie-card>
            }
            
            @empty {
                <div class="w-full text-center py-12">
                    <div class="inline-block animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-600 mb-4"></div>
                    <p class="text-gray-600 text-lg">Cargando películas...</p>
                </div>
            }
        </div>
    </div>

    <!-- Header -->
    <div class="px-4 sm:px-8 mb-6">
        <h1 class="text-3xl font-bold text-gray-900 mb-2"> Top Rated Series</h1>
        <p class="text-gray-600">Las series mejor valoradas</p>
    </div>

    <!-- Scroll horizontal -->
    <div class="px-4 sm:px-8">
        <div class="flex gap-4 overflow-x-auto scrollbar-hide pb-4 scroll-smooth snap-x snap-mandatory">
            @for (serie of topRatedSeries; track serie.id) {
                <app-movie-card [movie]="serie"></app-movie-card>
            }
            
            @empty {
                <div class="w-full text-center py-12">
                    <div class="inline-block animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-600 mb-4"></div>
                    <p class="text-gray-600 text-lg">Cargando películas...</p>
                </div>
            }
        </div>
    </div>



<!-- Estilos CSS para ocultar scrollbar -->
<style>
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
</style>